

/* BUTTONS */

.btn {
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 5px;
    width: 50px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-left-btn {
    top: 0;
    left: 0;
}

.top-right-btn {
    top: 0;
    right: 0;
}

.bottom-right-btn {
    bottom: 0;
    right: 0;
}

.bottom-left-btn {
    bottom: 0;
    left: 0;
}

.green {
    background-color: rgb(11, 129, 25);
}

.purple {
    background-color: purple;
}

.red {
    background-color: rgb(182, 13, 13);
}

.orange {
    background-color: rgb(245, 101, 35);
}

.blue {
    background-color: rgb(88, 156, 179);
}

.round-edges {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.icon {
    height: 20px;
}